.BorderPane{
    -fx-background-image: url("../images/map.jpg");
    -fx-background-size: cover;
}
.fragment_user_in{
     -fx-border-color: #31ff0a;
     -fx-border-radius: 10;
     -fx-border-width: 2;
     -fx-background-color:
                 linear-gradient(#f2f2f2, #d6d6d6),
                 linear-gradient(#FF8C00 0%, #d9d9d9 20%, #d6d6d6 100%),
                 linear-gradient(#dddddd 0%, #f6f6f6 50%);
     -fx-background-radius: 8,7,6;
     -fx-background-insets: 0,1,2;
     -fx-text-fill: black;
     -fx-effect: dropShadow( three-pass-box , rgba(0,0,0,0.3), 0, 0.0 , 5 , 7 );
     /*-fx-padding: 10 10 10 10;*/
}
.split-pane{
        -fx-background-color: transparent ;
}
.split-pane-divider{
        -fx-padding: 0 2 0 2 ;
        -fx-background-color: #808080;
        -fx-background-insets: 0;
}
.list-cell {
    -fx-background-color: transparent;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}
.list-view {
    -fx-background-color: transparent;
}
.tab-pane{
-fx-background-color: transparent;
}
.tab{
/*-fx-background-color: transparent;*/
}
.grid-pane{
-fx-background-color: transparent;
}

.list_item{
    -fx-font-size: 14px;
    -fx-background-color: #FF8C00;
    -fx-text-fill: #FAF0E6;
    -fx-background-radius: 20
}

.item_equipment{
 -fx-border-color: #31ff0a;
 -fx-border-radius: 5;
 -fx-border-width: 1;
}
.content{
    -fx-background-size: 50, 50;
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
}
.button{
    -fx-background-color:
           #c3c4c4,
           linear-gradient(#d6d6d6 50%, white 100%),
           radial-gradient(center 50% -40%, radius 100%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
       -fx-background-radius: 5;
       -fx-background-insets: 0,1,1;
       -fx-text-fill: black;
       -fx-effect: dropShadow( three-pass-box , rgba(0,0,0,0.6) , 0, 0.0 , 3 , 5 );
}
.vBox_button{
        -fx-background-color:
          linear-gradient(#f2f2f2, #d6d6d6),
          linear-gradient(#d6d6d6 0%, #d9d9d9 20%, #d6d6d6 100%),
          linear-gradient(#dddddd 0%, #f6f6f6 50%);
        -fx-background-radius: 8,7,6;
        -fx-background-insets: 0,1,2;
        -fx-text-fill: black;
        -fx-effect: dropShadow( three-pass-box , rgba(0,0,0,0.6) , 0, 0.0 , 3 , 5 );
        -fx-padding: 10 10 10 10;
}
.combo-box{
    -fx-background-color:
                 linear-gradient(#f2f2f2, #d6d6d6),
                 linear-gradient(#d6d6d6 0%, #d9d9d9 20%, #d6d6d6 100%),
                 linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-border-color: #A9A9A9;
    -fx-border-radius: 5;
}
.combo-box .list-cell{
    -fx-background-color:
              linear-gradient(#f2f2f2, #d6d6d6),
              linear-gradient(#d6d6d6 0%, #d9d9d9 20%, #d6d6d6 100%),
              linear-gradient(#dddddd 0%, #f6f6f6 50%);
          -fx-background-radius: 3;
          -fx-text-fill: black;
}
#buttonSeparator{

}
#pane{
-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #C0C0C0, #87CEFA);
}
#item_mail_min{
   -fx-border-color: #31ff0a;
 -fx-border-radius: 5;
 -fx-border-width: 1;
}
.LocalDateTimeTextField .icon{
    -fx-image: url("../images/calendar.png");
}

